h1= 'Productos'
table
    tr
        th(id="id")= 'ID'
        th(id="nombreProducto")= 'Producto'
        th(id="medidaProducto")= 'Medida'
        th(id="precioProducto")= 'Precio'
table(id="productoNuevo")         
    