div         
    h1='User ok login'
    h2= `Bienvenido ${datos.nombre}`
    br
    h3= `Direccion: ${datos.direccion}`
    h4= `visitas: ${contador}`
    br
    button(onclick="location.href = '/logout'")= 'Logout'