form(id='formMensaje')
    div
        label(for="email")= 'Email'
        input(type="email" name="email" id="email" required) 
    div
        label(for="nombre")= 'Nombre'
        input(type="text" name="nombre" id="nombre" required)
    div
        label(for="apellido")= 'Apellido'
        input(type="text" name="apellido" id="apellido" required)
    div
        label(for="alias")= 'Alias'
        input(type="text" name="alias" id="alias" required)
    div
        label(for="edad")= 'Edad'
        input(type="number" name="edad" id="edad" required)
    div
        label(for="avatar")= 'Avatar'
        input(type="text" name="avatar" id="avatar" required)
    div
        label(for="mensaje")= 'Mensaje'
        input(type="text" name="mensaje" id="mensaje" required)
    div 
        input(type="submit")